.icon-useredit{
    background:url('/images/useredit.png') no-repeat center center;
}
.icon-ccsq{
    background:url('/images/ccsq.png') no-repeat center center;
}
.icon-ccjs{
    background:url('/images/ccjs.png') no-repeat center center;
}
.icon-ccinfo{
    background:url('/images/info.png') no-repeat center center;
}
.icon-ccsp{
    background:url('/images/ccsp.png') no-repeat center center;
}
.icon-jssp{
    background:url('/images/jssp.png') no-repeat center center;
}
.icon-ysgl{
    background:url('/images/ysgl.png') no-repeat center center;
}
.icon-cctj{
    background:url('/images/cctj.png') no-repeat center center;
}

.lines-both .datagrid-body td{
}
.lines-no .datagrid-body td{
    border-right:1px dotted transparent;
    border-bottom:2px dotted transparent;
}
.lines-right .datagrid-body td{
    border-bottom:2px dotted transparent;
}
.lines-bottom .datagrid-body td{
    border-right:2px dotted transparent;
}